
#media {
  color:#4d4d4d;
  font-family: 'Playfair Display', serif;
  float:right;
  font-size:15;
  text-decoration: none;
  margin-right:20px;
  margin-top: 5px;
}
h1{
	color:#777;
	font-family: 'Dancing Script', cursive;
	font-weight:400;
	font-size:50px;
	/*border-bottom: 2px black solid;*/
    text-shadow: 3px 3px 11px rgba(148, 150, 150, 0.37);
}
h2{
	color: #777;
	font-family: 'Playfair Display', serif;
	font-size:17px;
	text-align:center;
}
h4{
	color: #777;
	text-align: left;
	font-family: 'Playfair Display', serif;
	font-size:13px;
	padding-top:5px;
	padding-bottom:15px;
}
p{
	font-family: 'Josefin Sans';
	font-size:18px;
	line-height:28px;
}
.text{
	background: url('../img/PNGs/Logo1.png');
	background-size:90% 65%;
	background-position: 0 50%;
	background-repeat: no-repeat;
}
#trademark{
	color: #777;
	text-align: left;
	font-family: 'Playfair Display', serif;
	font-size:13px;
	padding-top:5px;
	padding-bottom:15px;
}
#media {
    color:#4d4d4d;
	font-family: 'Playfair Display', serif;
	float:right;
	font-size:25px;
    text-decoration: none;
	margin-right:20px;
	margin-top: 5px;
}
.footer{
	width: 90%;
}
.ash1{
	margin-bottom: 15px;
}
.ash2{
	margin-top: 15px;
}
.container-fluid {
	padding-bottom: 20px;
}
.items{
	padding: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 5.4vw;
}
.nav>li>a {
    padding: 10px 20px;
}
.navbar-brand{
	height:133px;
	background: url('../img/PNGs/Logo1.png');
	background-size:240px 90px;
	background-position: 20px 20px;
	background-repeat: no-repeat;
}
.row {
    margin-right: 40px;
    margin-left: 40px;
}
.navbar-default{
	font-size:18px;
	height:150px;
  background-color: white;
  border-color: white;
}
.navbar-nav{
	margin-top:55px;
	float:right;
	margin-right:5.4vw;
  margin-left:5.4vw;
	border-color: #e7e7e7;
}
@media (max-width: 1150px){
  .navbar-nav{
    float:left;
  }
  .nav>li>a {
    text-align: left;
  }
}
@media (max-width: 767px){
  .navbar-brand{
    background: url(../img/PNGs/Logo1.png);
    background-size: 85% auto;
    background-position: 20px 20px;
    background-repeat: no-repeat;
  }
  h1{
  color:#777;
  font-family: 'Dancing Script', cursive;
  font-weight:400;
  font-size:6vw;
  /*border-bottom: 2px black solid;*/
    text-shadow: 3px 3px 11px rgba(148, 150, 150, 0.37);
  }
  h2{
  color: #777;
  font-family: 'Playfair Display', serif;
  font-size:2vw;
  text-align:center;
  }
  .nav>li>a {
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
    text-decoration: none;
    padding: 10px 20px;
  }
    .navbar-nav{
    float:right;
  }
  .nav>li>a {
    text-align:right;
  }
  .navbar-default{
  height:20vw;
}
h4{
  color: #777;
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-size:2vw;
  padding-top:5px;
  padding-bottom:15px;
}
p{
  font-family: 'Josefin Sans';
  font-size:3vw;
  line-height:6vw;
}
#trademark{
  color: #777;
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-size:3vw;
  padding-top:5px;
  padding-bottom:15px;
}
#media {
    color:#4d4d4d;
  font-family: 'Playfair Display', serif;
  float:right;
  font-size:4vw;
  text-decoration: none;
  margin-right:20px;
  margin-top: 10px;
}
}

ul{
	list-style-type: none;
	margin: 40px auto 20px auto;
	padding: 0;
	text-align:center;
}
.nav>li>a {
    color:#4d4d4d;
	font-family: 'Playfair Display', serif;
    text-align: right;
    text-decoration: none;
}
.navbar-default .navbar-collapse{
    border-color: white;
    background-color: white;
}
}
.navbar-default .navbar-nav>li>a {
    background-color: white;
}
hr {
    width: 400px;
    border-top: 1px solid #777;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}