
h1{
	color:#777;
	font-family: 'Dancing Script', cursive;
	font-weight:400;
	font-size:50px;
	/*border-bottom: 2px black solid;*/
    text-shadow: 3px 3px 11px rgba(148, 150, 150, 0.37);
}
h2{
	color: #777;
	font-family: 'Playfair Display', serif;
	font-size:17px;
	text-align:center;
}
body{
	 min-width:650px;
}
p{
	text-align: center;
	font-size: 17px;
	font-family: 'Josefin Sans', serif;
}
.btn-default {
    color: #777;
    background-color: #fff;
    border-color: #ccc;
	margin: 0px auto;
	width: 50%;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
}
.btn {
    display: block;
	white-space: normal;
}
#trademark{
	color: #777;
	text-align: left;
	font-family: 'Playfair Display', serif;
	font-size:13px;
	padding-top:5px;
	padding-bottom:15px;
}
#media {
    color:#4d4d4d;
	font-family: 'Playfair Display', serif;
	float:right;
	font-size:25px;
    text-decoration: none;
	margin-right:20px;
	margin-top: 5px;
}
.lifestyle{
	background: url('../img/PNGs/Lifestyle.png');
    background-size: 85% 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.port{
	background: url('../img/PNGs/port.png');
	background-size: 85% 60%;
	background-position: center;
	background-repeat: no-repeat;
}
.wedding{
	background: url('../img/PNGs/Wedding2.png');
	background-size: 85% 60%;
	background-position: center;
	background-repeat: no-repeat;
}
#title{
	display: block;
	vertical-align: middle;
	padding-top: 10%;
	padding-bottom: 10%;
}

.portrait {
    display: inline;
	max-width: 44.444%;
}
.first {
	margin-right:9%;
}
.container-fluid {
	padding-bottom: 20px;
}
.img-rounded {
    padding-bottom: 20px;
}
.items{
	padding: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 5.5vw;
}
.nav>li>a {
    padding: 10px 20px;
}
.navbar-brand{
	height:133px;
	background: url('../img/PNGs/Logo1.png');
	background-size:240px 90px;
	background-position: 20px 20px;
	background-repeat: no-repeat;
}
.row {
    margin-right: 40px;
    margin-left: 40px;
}
.navbar-default{
	font-size:18px;
	height:150px;
  background-color: white;
  border-color: white;
}
.navbar-nav{
	margin-top:55px;
	float:right;
	margin-right:5.4vw;
  margin-left:5.4vw;
	border-color: #e7e7e7;
}
@media (max-width: 1150px){
  .navbar-nav{
    float:left;
  }
}
.footer{
	width: 90%;
}
ul{
	list-style-type: none;
	margin: 40px auto 20px auto;
	padding: 0;
	text-align:center;
}
.nav>li>a {
    color:#4d4d4d;
	font-family: 'Playfair Display', serif;
    text-align: right;
    text-decoration: none;
}
.navbar-default .navbar-collapse{
    border-color: white;
}
.navbar-default .navbar-nav>li>a {
    background-color: white;
}
.navbar-collapse {
    background-color: white;
}
hr {
    width: 20%;
    border-top: 1px solid #777;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}