h1{
	color:#777;
	font-family: 'Dancing Script', cursive;
	font-weight:400;
	font-size:50px;
	/*border-bottom: 2px black solid;*/
    text-shadow: 3px 3px 11px rgba(148, 150, 150, 0.37);
}
h2{
	color: #777;
	font-family: 'Playfair Display', serif;
	font-size:17px;
	text-align:center;
}
h3{
	font-family: 'Josefin Sans';
	font-size:30px;
	text-align: center;
	margin-bottom: 20px;
	margin:40 40px;
	line-height:40px;
	margin-right: 70px;
	margin-left: 70px;
}
h5{
	font-family: 'Playfair Display';
	font-size:40px;
	text-align: center;
	margin:40px 40px;
	line-height:40px;
	margin-right: 70px;
	margin-left: 70px;
}
p{
	font-family: 'Josefin Sans';
	font-size:18px;
	text-align: center;
	margin:0 40px;
	line-height:40px;
	margin-right: 70px;
	margin-left: 70px;
}
.footer{
	width: 90%;
}
.btn-default {
    color: #777;
    background-color: #fff;
    border-color: #ccc;
    margin: 20px auto;
    width: 20%;
    font-size: 20px;
}
.inquire{
	margin: 20 auto;
}
#trademark{
	color: #777;
	text-align: left;
	font-family: 'Playfair Display', serif;
	font-size:13px;
	padding-top:5px;
	padding-bottom:15px;
}
#media {
    color:#4d4d4d;
	font-family: 'Playfair Display', serif;
	float:right;
	font-size:25px;
    text-decoration: none;
	margin-right:20px;
    margin-top: 5px;
}
#photos{
}
.items{
	padding: 0;
}
.carousel-indicators .active{
	background-color: #d1d1d1;
}
.carousel-indicators li{
	border: 1px solid #d1d1d1;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 5.5vw;
}
.nav>li>a {
    padding: 10px 20px;
}
.navbar-brand{
	height:133px;
	background: url('../img/PNGs/Logo1.png');
	background-size:240px 90px;
	background-position: 20px 20px;
	background-repeat: no-repeat;
}
.slideshow{
  width: 70vw;
  height: auto;
  margin:20px auto;
}
.carousel-inner>.item>.portrait {
    display: inline;
	max-width: 44.444%;
}
.carousel-inner>.item>.first {
	margin-right: 10.00%;
}
.navbar-default{
	font-size:18px;
	height:150px;
  background-color: white;
  border-color: white;
}
.navbar-nav{
	margin-top:55px;
	float:right;
	margin-right:5.4vw;
  margin-left:5.4vw;
	border-color: #e7e7e7;
}
@media (max-width: 1150px){
  .navbar-nav{
    float:left;
  }
  .nav>li>a {
    text-align: left;
  }
}
@media (max-width: 767px){
h5{
  font-family: 'Playfair Display';
  font-size:6vw;
  text-align: center;
  margin:6vw;
  line-height:20px;
  margin-right: 70px;
  margin-left: 70px;
}
p{
  font-family: 'Josefin Sans';
  font-size:4vw;
  text-align: center;
  margin:0 10vw;
  line-height:8vw;
}
  #trademark{
  color: #777;
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-size:3vw;
  padding-top:5px;
  padding-bottom:15px;
	}
#media {
  color:#4d4d4d;
  font-family: 'Playfair Display', serif;
  float:right;
  font-size:4vw;
  text-decoration: none;
  margin-right:20px;
  margin-top: 10px;
  }
  .navbar-brand{
    background: url(../img/PNGs/Logo1.png);
    background-size: 85% auto;
    background-position: 20px 20px;
    background-repeat: no-repeat;
  }
  h1{
  color:#777;
  font-family: 'Dancing Script', cursive;
  font-weight:400;
  font-size:6vw;
  /*border-bottom: 2px black solid;*/
    text-shadow: 3px 3px 11px rgba(148, 150, 150, 0.37);
  }
  h2{
  color: #777;
  font-family: 'Playfair Display', serif;
  font-size:2vw;
  text-align:center;
  }
  .nav>li>a {
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
    text-decoration: none;
    padding: 10px 20px;
  }
    .navbar-nav{
    float:right;
  }
  .nav>li>a {
    text-align:right;
  }
  .navbar-default{
  height:20vw;
}
.carousel-inner>.item>.first {
  margin-right: 9.00%;
}
h3{
  font-family: 'Josefin Sans';
  font-size:4vw;
  text-align: center;
  margin-bottom: 20px;
  margin:6vw;
  line-height:30px;
}
.btn-default {
    color: #777;
    background-color: #fff;
    border-color: #ccc;
    margin: 20px auto;
    width: 40%;
    font-size: 3vw;
}
}
ul{
	list-style-type: none;
	margin: 40px auto 20px auto;
	padding: 0;
	text-align:center;
}
.nav>li>a {
    color:#4d4d4d;
	font-family: 'Playfair Display', serif;
    text-align: right;
    text-decoration: none;
}
.navbar-default .navbar-collapse{
    border-color: white;
    background-color: white;
}
.navbar-default .navbar-nav>li>a {
    background-color: white;
}

hr {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid rgba(0,0,0,0.2);
	margin-top: 40px;
	margin-bottom: 30px;
	width: 50%;
}
