@media (max-width: 1182px){
  .navbar-nav{
    float:left;
  }
  .nav>li>a {
    text-align: left;
  }
}
@media (max-width: 767px){
h5{
  font-family: 'Playfair Display';
  font-size:6vw;
  text-align: center;
  margin:6vw;
  line-height:20px;
  margin-right: 70px;
  margin-left: 70px;
}
p{
  font-family: 'Josefin Sans';
  font-size:4vw;
  text-align: center;
  margin:0 10vw;
  line-height:8vw;
}
  #trademark{
  color: #777;
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-size:3vw;
  padding-top:5px;
  padding-bottom:15px;
	}
#media {
  color:#4d4d4d;
  font-family: 'Playfair Display', serif;
  float:right;
  font-size:4vw;
  text-decoration: none;
  margin-right:20px;
  margin-top: 10px;
  }
  .navbar-brand{
    background-size: 85% auto;
    background-position: 20px 20px;
    background-repeat: no-repeat;
  }
  h1{
  color:#777;
  font-family: 'Dawning of a New Day', cursive;
  font-weight:400;
  font-size:6vw;
  /*border-bottom: 2px black solid;*/
    text-shadow: 3px 3px 11px rgba(148, 150, 150, 0.37);
  }
  h2{
  color: #777;
  font-family: 'Playfair Display', serif;
  font-size:2vw;
  text-align:center;
  }
  .nav>li>a {
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
    text-decoration: none;
    padding: 10px 20px;
  }
    .navbar-nav{
    float:right;
  }
  .nav>li>a {
    text-align:right;
  }
  .navbar-default{
  height:20vw;
}
.carousel-inner>.item>.first {
  margin-right: 9.00%;
}
h3{
  font-family: 'Josefin Sans';
  font-size:4vw;
  text-align: center;
  margin-bottom: 20px;
  margin:6vw;
  line-height:30px;
}
.btn-default {
    color: #777;
    background-color: #fff;
    border-color: #ccc;
    margin: 20px auto;
    width: 40%;
    font-size: 3vw;
}
.modal-content {
    margin: auto;
    display: block;
    width: 85%;
    height: auto;
}
}