@media (max-width: 1182px){
  .navbar-nav{
    float:left;
  }
  .nav>li>a {
    text-align: left;
  }
}
@media (max-width: 767px){
  .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-family: 'Playfair Display', serif;
  cursor: auto;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 5%;
  opacity: 1;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  margin-bottom: 20px;
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  text-shadow:-1px 0 #777, 0 1px #777, 1px 0 #777, 0 -1px #777;
  opacity: 1;
  padding: auto;
  font-size: 5vw;
  padding-top: 0.6em;
}

#trademark{
  color: #777;
  text-align: left;
  font-family: 'Josefin Sans', serif;
  font-size:3vw;
  padding-top:5px;
  padding-bottom:15px;
}
#media {
    color:#4d4d4d;
  font-family: 'Josefin Sans', serif;
  float:right;
  font-size:4vw;
  text-decoration: none;
  margin-right:20px;
  margin-top: 10px;
  }
  .navbar-brand{
    background-size: 85% auto;
    background-position: 20px 20px;
    background-repeat: no-repeat;
  }
  h1{
  color:#777;
  font-family: 'Dawning of a New Day', cursive;
  font-weight:400;
  font-size:6vw;
  /*border-bottom: 2px black solid;*/
    text-shadow: 3px 3px 11px rgba(148, 150, 150, 0.37);
  }
  h2{
  color: #777;
  font-family: 'Playfair Display', serif;
  font-size:2vw;
  text-align:center;
  }
  .nav>li>a {
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
    text-decoration: none;
    padding: 10px 20px;
  }
    .navbar-nav{
    float:right;
  }
  .nav>li>a {
    text-align:right;
  }
  .navbar-default{
  height:20vw;
  }
  .hovereffect img {
    padding-right: 7vw;
    padding-left: 7vw;
  }
}