@media (max-width: 1182px){
  .navbar-nav{
    float:left;
  }
  .nav>li>a {
    text-align: left;
  }
}
@media (max-width: 767px){
	#trademark{
  		color: #777;
  		text-align: left;
  		font-family: 'Playfair Display', serif;
  		font-size:3vw;
  		padding-top:5px;
  		padding-bottom:15px;
	}
	#media {
    color:#4d4d4d;
  	font-family: 'Playfair Display', serif;
  	float:right;
  	font-size:4vw;
  	text-decoration: none;
  	margin-right:20px;
 	margin-top: 10px;
  	}
  .navbar-brand{
    background-size: 85% auto;
    background-position: 20px 20px;
    background-repeat: no-repeat;
    height: 133px;
  }
  h1{
  color:#777;
  font-family: 'Dawning of a New Day', cursive;
  font-weight:400;
  font-size:6vw;
  /*border-bottom: 2px black solid;*/
    text-shadow: 3px 3px 11px rgba(148, 150, 150, 0.37);
  }
  h2{
  color: #777;
  font-family: 'Playfair Display', serif;
  font-size:2vw;
  text-align:center;
  }
  .nav>li>a {
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
    text-decoration: none;
    padding: 10px 20px;
  }
    .navbar-nav{
    float:right;
  }
  .nav>li>a {
    text-align:right;
  }
  .navbar-default{
  height:20vw;
}
p{
  font-family: 'Josefin Sans';
  font-size: 3vw;
  text-align: center;
  line-height:6vw;
  margin-right: 3vw;
  margin-left: 3vw;
  }
  h3{
	font-family: 'Josefin Sans';
	font-size:3vw;
	text-align: center;
	margin-bottom: 1vw;
	margin-top:2vw;
	line-height:3vw;
	margin-right: 4vw;
	margin-left: 4vw;
}
.btn-default {
    color: #777;
    background-color: #fff;
    border-color: #ccc;
    margin: 20px auto;
    width: 40%;
    font-size: 3vw;
}
.invest{
	padding-top:5px;
	background: url('../img/PNGs/Wedding2.jpg');
	background-position: 50% 30%;
	background-size:50vw;
	background-repeat: no-repeat;
}
.row {
    margin-right: 20px;
    margin-left: 20px;
}
}