
h1{
  color:#777;
  font-family: 'Dawning of a New Day', cursive;
  font-size:58px;
  /*border-bottom: 2px black solid;*/
  text-shadow: 3px 3px 11px rgba(148, 150, 150, 0.37);
  margin: 15px;
  margin-top: 10px;
}
h2{
	color: #777;
	font-family: 'Playfair Display', serif;
	font-size:17px;
	text-align:center;
	margin: 15px;
}
h3{
	font-family: 'Playfair Display';
	font-size:4vw;
	text-align: center;
	margin:2vw 2vw;
	line-height:3vw;
	margin-right: 3vw;
	margin-left: 3vw;
}
p{
	font-family: 'Josefin Sans';
	font-size: 1.5vw;
	text-align: center;
	line-height:3vw;
	margin-right: 3vw;
	margin-left: 3vw;
}
img{
	width: 100%;
    height: 100%;
}
.link{
	font-family: 'Josefin Sans';
	font-size: 1.5vw;
	text-align: center;
	line-height:3vw;
	margin-right: 3vw;
	margin-left: 3vw;
}
.link>a{
	color: grey;
}
.lifestyle{
 	background: url('../../img/PNGs/Lifestyle.jpg');
 	background-size: 80% 50%;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-attachment: fixed;
}
.port{
 	background: url('../../img/PNGs/port.jpg');
 	background-size: 80% 50%;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-attachment: fixed;
}
.wedding{
 	background: url('../../img/PNGs/Wedding2.jpg');
 	background-size: 80% 50%;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-attachment: fixed;
}
.btn-default {
    color: #777;
    background-color: #fff;
    border-color: #ccc;
	margin: 0px auto;
	width: 50%;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
}
.btn {
    display: block;
	white-space: normal;
}
#trademark{
	color: #777;
	text-align: left;
	font-family: 'Josefin Sans', serif;
	font-size:13px;
	padding-top:5px;
	padding-bottom:15px;
}
#media {
    color:#4d4d4d;
	font-family: 'Playfair Display', serif;
	float:right;
	font-size:25px;
    text-decoration: none;
	margin-right:20px;
	margin-top: 5px;
}
#title{
	display: block;
	vertical-align: middle;
	margin-top: 10%;
}
.footer{
	width: 90%;
}
.container-fluid {
	padding-bottom: 20px;
}
.img-rounded {
    margin-bottom: 30px;
}
.items{
	padding: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 5.5vw;
}
.nav>li>a {
    padding: 10px 20px;
}
.navbar-brand{
	height:133px;
	background: url('../../img/PNGs/Logo1.jpg');
	background-size:240px 90px;
	background-position: 45px 23px;
	background-repeat: no-repeat;
}
.row {
    margin-right: 1vw;
    margin-left: 1vw;
}
.navbar-default{
	font-size:18px;
	height:150px;
  background-color: transparent;
  border-color: transparent;
}
.navbar-nav{
	margin-top:55px;
  margin-bottom: 20px;
  margin-right:5.4vw;
  margin-left:5.4vw;
	float:right;
	border-color: #e7e7e7;
}
ul{
	list-style-type: none;
	margin: 40px auto 20px auto;
	padding: 0;
	text-align:center;
}
.nav>li>a {
    color:#4d4d4d;
	font-family: 'Playfair Display', serif;
    text-align: right;
    text-decoration: none;
}
.navbar-default .navbar-collapse{
    border-color: white;
    background-color: white;
}
.navbar-default .navbar-nav>li>a {
    background-color: white;
}
hr {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid rgba(0,0,0,0.2);
	margin-top: 40px;
	margin-bottom: 30px;
	width: 30%;
}